@font-face {
    font-family: 'Pokemon';
    src:
        local('Pokemon'),
        url('/fonts/PokemonGb-RAeo.ttf') format('truetype');
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(-45deg, #003fb3, #00abfa 70%);
    background-attachment: fixed;
}

#appContainer {
    background-color: #fff;
    min-height: 200px;
    width: 95%;
    margin: 30px auto 30px;
    border: 6px double #000000;
    border-radius: 5px;
    display: flex;
    flex-direction: Column;
    justify-content: space-between;
    align-items: center;
}

#pokemonInformation {
    margin: 0 20px;
}

#searchPokemon {
    width: 280px;
    padding: 25px 0;
    border: 3px solid #012ea8;
    background-color: #0353ff;
    color: white;
    border-radius: 5px;
    font-size: 1.3rem;
    margin-bottom: 25px;
}

#searchPokemon:hover {
    cursor: pointer;
    color: #c2c2c2;
    background-color: #0037af;
    border: 3px solid #001757;
}

#searchPokemon:active {
    transform: translate(1px, -5%);
}

.pokemon-name {
    font-size: 1.5rem;
    margin: 25px 0 25px;
    color:#000000;
    font-family: 'Pokemon';
}

.pokemon-color-title {
    font-family: 'Pokemon';
    font-size: 0.8rem;
    margin-bottom: 10px;
    width: 100%;
}

.color-container {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-container {
    border: 4px double #5c5c5c;
    border-radius: 6px;
}

.img-styles {
    height: 150px;
    width: auto;
    padding: 15px;
    box-sizing: border-box;
}

